<h1>
Add your cat!!

</h1>

<form action = "/cats" method = "post">
  <label for = "name">Name</label>
  <input id = "name" type = "text" name = "cat[name]">

  <label for = "birth_date">Birthday</label>
  <input id = "birth_date" type = "date" name = "cat[birth_date]">

  <label for = "color">Color</label>
  <input id = "color" type = "text" color = "cat[color]">

  <label for = "sex">Sex</label>
  <input id = "sex" type = "text" sex = "cat[sex]">

  <label for = "description">Description</label>
  <textarea name = "cat[description]"></textarea>

  <input type = "submit" value = "Add Cat!!">



</form>


