

<table>
  <thead>
    <tr> 
      <th colspan="2"> <%= @cat.name %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> Color </td>
      <td> <%= @cat.color %> </td>
    </tr>

     <tr>
      <td> Gender </td>
      <td> <%= @cat.sex %> </td>
    </tr>

  </tbody>

</table>

<p>
<%= @cat.description %>
</p>